<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">US Election Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

  <div class="row">


      <!--<div class="col-sm-6">
        <div class="row">-->

          <!-- Pie -->
          <!--<div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Candidate Score
          </div>
          <div class="chart-stage">
            <div id="candidate-score"></div>
          </div>
        </div>
          </div>-->
          <!-- Pie -->

        <!-- </div>
      </div>-->

      <!-- Pie -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Large Electors Won By Candidate
          </div>
          <div class="chart-stage">
            <div id="candidate-score"></div>
          </div>
        </div>
      </div>

      <!-- Map -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of Votes
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

    </div>

    <div class="row">


      <!-- INSERT TIME (Third columns 1 or 2)-->
      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Actual Hour
          </div>
          <div class="chart-stage">
            <div id="NEED MODIFICATION"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Put Abstension rate
          </div>
          <div class="chart-stage">
            <div id="NEED MODIFICATION"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->


      <!-- Metric 3 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number Large Electors
          </div>
          <div class="chart-stage">
            <div id="number-large-electors"></div>
          </div>
        </div>
      </div>
      <!-- Metric 3 -->

      <!-- Metric 4 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Votes
          </div>
          <div class="chart-stage">
            <div id="total-votes-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 4 -->


      <!-- TimeResultsChart -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Time Results Chart
          </div>
          <div class="chart-stage">
            <div id="NEED MODIFICATION"></div>
          </div>
        </div>
      </div>
      <!-- TimeResultsChart -->

      <!-- voteLevelChart -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Vote Level Chart
          </div>
          <div class="chart-stage">
            <div id="candidate-votes"></div>
          </div>
        </div>
      </div>
      <!-- voteLevelChart -->

  </div>

  </div>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>

  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
